@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="baseDiv">
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>Name</th>
                    <th>Base Bonus</th>
                    <th>Current Bonus</th>
                    <th>Roll</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ship in Model.Ships.OrderByDescending(s => s.Roll))
                {
                    <tr>
                        @*<td>@ship.Id</td>*@
                        <td>@ship.Name</td>
                        <td>@ship.BonusBase</td>
                        <td>
                            @*<input asp-for="@ship.BonusCurrent" />*@ 
                            @Html.EditorFor(m => m.Ships.FirstOrDefault(s => s.Id == ship.Id).BonusCurrent)
                            <button type="submit" asp-page-handler="UpdateBonus"
                                    asp-route-id="@ship.Id" asp-route-bonus="@ship.BonusCurrent">
                                Update
                            </button>
                        </td>
                        <td>@ship.Roll</td>
                        <td>

                            <button type="submit" asp-page-handler="Delete"
                                    asp-route-id="@ship.Id">
                                Remove
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    <form method="post">
        <button type="submit" asp-page-handler="roll">
            Start New Round
        </button>
    </form>

    <p>Add a new ship:</p>

    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="Ship.Name" /></div>
        <div>Bonus: <input asp-for="Ship.BonusBase" /></div>
        <button type="submit">Add Ship</button>
    </form>
</div>
