@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="baseDiv">
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th>Name</th>
                    <th>Base Bonus</th>
                    <th>Current Bonus</th>
                    <th>Roll</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ship in Model.Ships.OrderByDescending(s => s.Roll))
                {
                    <tr>
                        @*<td>@ship.Id</td>*@
                        <td>@ship.Name</td>
                        <td>@ship.BonusBase</td>
                        <td>
                            <input asp-for="@ship.BonusCurrent" style="width:50px" />
                            <button type="submit" asp-page-handler="UpdateBonus"
                                    asp-route-id="@ship.Id" asp-route-bonus="@ship.BonusCurrent">
                                Update
                            </button>
                        </td>
                        <td>@ship.Roll</td>
                        <td>
                            <button type="submit" asp-page-handler="Delete" asp-route-id="@ship.Id">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    <div id="RoundAndAdd" style="max-width:250px;float:left">
        <h3>Round Number: @Model.CurrentRound.Round</h3>
        <h4>Phase: @Model.CurrentRound.Step</h4>

        <form method="post">
            <button type="submit" asp-page-handler="roll">Advance Round</button>
            <button type="submit" asp-page-handler="ResetCounter">Reset Counter</button>
        </form>

        <div asp-validation-summary="All"></div>
        <form method="POST">
            <h4>Add a new ship:</h4>
            <div>
                <label asp-for="Ship.Name" style="width:50px">Name:</label><input asp-for="Ship.Name" />
            </div>
            <div>
                <label asp-for="Ship.BonusBase" style="width:50px">Bonus:</label><input asp-for="Ship.BonusBase" />
            </div>
            <button type="submit" asp-page-handler="AddShip">Add Ship</button>
        </form>
    </div>

    <div id="RoundInfo" style="float:left;margin-left:10px">
        <h3>@Model.CurrentRound.Step Phase Actions:</h3>
        @if (Model.CurrentRound.Step == Data.ROUND_STEP.ENGINEERING)
        {
            <p>You can do some engineering stuff.</p>

        }
        else if (Model.CurrentRound.Step == Data.ROUND_STEP.PILOTING)
        {
            <p>You can do some piloting stuff.</p>

        }
        else
        {
            <p>You can do some gunnery stuff.</p>

        }
    </div>
    <div style="clear:both" />
</div>
